.stories {
    display: flex;
    gap: 10px;
    height: 250px;
    margin-bottom: 30px;

    .story {
        flex: 1;
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {}
    }
}