@use "../../style.scss" as *;

.comments {
    @include themify($themes) {
        img {
            width: 30px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .comment {
            margin: 30px 0px;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .info {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: flex-start;

                span {
                    font-weight: 500;
                }

                p {
                    color: themed('textColor');
                }
            }

            .date {
                flex: 1;
                align-self: center;
                color: gray;
                font-size: 12px;
            }
        }
    }
}